<h1>StaticPages#top</h1>
<p>Find me in app/views/static_pages/top.html.erb</p>

<div style="font-size: 5rem; color: orange;">
  <i class="bi bi-boxes"></i>
  <i class="bi bi-radioactive"></i>
  <i class="bi bi-alarm"></i>
</div>