<h1>Shops#show</h1>
<p>Find me in app/views/shops/show.html.erb</p>

<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h2><%= @shop.name %></h2>
      <p>訪問者数：5人　お気に入り：3人</p>

  <%= render 'records/records', { records: @records} %>
</div>
