<footer id='footer' class="footer-bottom">
  <div class="fixed-bottom bg-opacity-75 d-flex p-3 text-white" style="background-color:#191970;">
    <div class="container d-flex justify-content-center">
      <ul class="list-inline nav nav-pills nav-justified">
        <li class="list-inline-item">検索</li>
        <li class="list-inline-item"><%= link_to "店舗登録", new_shop_path %></li>
        <li class="list-inline-item">マイページ</li>
      </ul>
    </div>
  </div>
</footer>