<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#191970;">
  <%= link_to "Bootstrap", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse justify-content-end" id="navmenu">
    <div class="navbar-nav">
      <%= link_to "Sign Up", new_user_path, class: "nav-item nav-link active" %>
      <%= link_to "Login", login_path, class: "nav-item nav-link active" %>
    </div>
  </div>
</nav>