<header>
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#191970;">
    <%= link_to "Bootstrap", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse justify-content-end" id="navmenu">
      <div class="navbar-nav">
        <%= link_to (t'defaults.logout'), logout_path, data: { turbo_method: :delete }, class: "nav-item nav-link active" %>
      </div>
    </div>
  </nav>
</header>