<h1>Records#new</h1>
<p>Find me in app/views/records/new.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>タイトル</h1>
      <%= render 'form', { shop: @shop, record: @record } %>
    </div>
  </div>
</div>